.nav-item > a:not(.external):hover, .nav-item > a:not(.external).router-link-active {
	border-bottom: 2px solid #0093b7
}

a.sidebar-link.active, a.sidebar-link:hover {
	color#0093b7;
}

a.sidebar-link.active{ 
	border-left-color: #0093b7;
}

a, p a code, .nav-links a.router-link-active, .nav-links a:hover  {
    color: #0093b7;
}

.home .hero .action-button {
	background-color: #0093b7;
}
.home .hero .action-button:hover{
	background-color: #32a8c5;
}


